<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kwongyo.recall" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.kwongyo.recall.RegisterActivity"/>
        <activity android:name="com.example.kwongyo.recall.RecallMainActivity"/>
        <activity android:name="com.example.kwongyo.recall.ProfileActivity"/>

        <receiver android:name=".model.RecallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="ANDROID.INTENT.ACTION.LOCALE_CHANGED"/>
                <action android:name="ANDROID.INTENT.ACTION.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>

            </intent-filter>

        </receiver>
        <service android:name=".model.ServiceR"/>
    </application>

</manifest>
